/diagnose.result
/cache

# Ignore Python cache files
__pycache__/
*.py[cod]

/dots/.config/quickshell/ii/.qmlls.ini

# exp-update
/.update-lock
/.update-backups/

# custom os-release
/os-release

# Emacs auto backup file
*~

# Build artifacts (root level only)
/arch-packages/
/dist-arch/
/dots-hyprland/
/sdist/
